div{
    margin-bottom: 12px;
}

#volume{
    margin-left: 49px;
}

#blinks{
    margin-left: 28px;
}

#colors{
    margin-left: 47px;
}

#bdate{
    margin-left: 60px;
}

#mail{
    margin-left: 107px;
}

#message{
    margin-left: 87px;
}

